# AGM AgRV2K 303 board selection.
#
# Copyright (c) 2026 AgRV Contributors
# SPDX-License-Identifier: Apache-2.0

config BOARD_AGM_AGRV2K_303
	bool "AGM AgRV2K 303 (L100)"
	select SOC_AGM_AGRV2K
	help
	  AGM AgRV2K 303 development board. RV32IMAFC @ 200 MHz,
	  256 KB flash, 128 KB SRAM, on-die L100 FPGA fabric.
